<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteBase /lab/language-learning/

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^ index.html [QSA,L]
    	
</IfModule>

