.wrap {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  margin-bottom: 15px;
}

.progress {
  border-radius: 4px;
  display: inline-block;
  height: 100%;
  padding: 4px 0;
  text-align: center;
  width: 100%;
}

.progress.loading {
  animation: loadingAni 2s ease-in-out infinite;
}

.progress.error {
  background-color: #FF6666;
}


@keyframes loadingAni {
  0% {
    background-color: #67C19A;
  }
  50% {
    background-color: #27A770;
  }
  100% {
    background-color: #67C19A;
  }
}