.donateBtn {
  background-image: linear-gradient(to bottom, #994887,  #CB60B4, #994887);
  border-radius: 4px;
  display: inline-block;
  font-weight: 600;
  height: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  width: 200px;
}

.donateBtn:hover {
  opacity: .8;
}

.donateBtnGrid {
  display:grid;
  grid-template-columns: 50px auto;
}

.donateIcon {
  padding: 5px;
  height: 40px;
  margin-left: 10px;
  width: 40px;
}

.donateText, .donateText:visited {
  color: #000;
  text-align: center;
  text-decoration: none;
}

.donateText:hover {
  color: #ff0;
}