/* 
    File     : _main-header.scss
    Date     : Sep 30, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/
.main-header {
  background: #3131d2;
  margin-bottom: 0;
}

  @media (min-width: 720px) {
    .main-header {
      padding: 10px 0; } }
  .main-header__wrap {
    display: flex;
    flex-flow: row wrap; }
    @media (min-width: 720px) {
      .main-header__wrap {
        flex-wrap: nowrap;
        text-align: right; } }
  .main-header__logo {
    flex-basis: 40px;
    order: 1;
    height: 40px;
    padding: 5px; }
    @media (min-width: 720px) {
      .main-header__logo {
        flex-basis: 50px;
        height: 50px;
        padding: 5px; } }

  .main-header__name {
    flex: 1;
    order: 2;
    color: #ffc519;
    font-family: "Germania One", "Brush Script MT", cursive;
    font-size: 1.375em;
    line-height: 40px;
    padding-left: 10px; }
    @media (min-width: 544px) {
      .main-header__name {
        flex: 0 1 0;
        white-space: nowrap; } }
    @media (min-width: 720px) {
      .main-header__name {
        flex: 1 1 0;
        font-size: 1.5em;
        line-height: 50px;
        white-space: nowrap; } }

  .main-header__nav {
    flex-basis: 100%;
    order: 4;
    height: 40px; }
    @media (min-width: 544px) {
      .main-header__nav {
        flex: 1 0 auto;
        order: 3; } }
    @media (min-width: 720px) {
      .main-header__nav {
        flex: 0 1 auto;
        width: 100%; } }
  .main-header__settings {
    position: relative;
    z-index: 50;
    flex-basis: 50px;
    order: 3; }
    @media (min-width: 544px) {
      .main-header__settings {
        order: 4; } }
    @media (min-width: 720px) {
      .main-header__settings {
        order: 4; } }
  .main-header__settings-icon {
    display: block;
    height: 40px;

    padding: 5px;

    width: 40px; }
    @media (min-width: 720px) {
      .main-header__settings-icon {
        height: 50px;
        width: 50px; } }


  /* 
    File     : _main-menu.scss
    Date     : Oct 4, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/
.main-menu {
  text-align: center; }
  @media (min-width: 544px) {
    .main-menu {
      text-align: right; } }
  @media (min-width: 720px) {
    .main-menu {
      height: 50px; } }
  .main-menu__item {
    display: inline-block;
    font-weight: 600;
    padding: 0 4px;
    position: relative; }
    @media (min-width: 720px) {
      .main-menu__item {
        padding-top: 5px; } }
    .main-menu__item a,
    .main-menu__item  span {
      display: inline-block;
      line-height: 40px;
      text-align: center;
      text-decoration: none;
      width: 100%; }
  .main-menu__item a:link, .main-menu__item a:visited,
  .main-menu__item  span {
    color: #ffc519; }
  .main-menu__item a:hover, .main-menu__item a:active,
  .main-menu__item  span:hover {
    color: #ffedb9; }

.main-menu__item-current a {
  color: black;
}


/***** Nav Arrow ****/
.arrowDown::after, 
.arrowUp::after {
  cursor: pointer;
  display: inline-block;
  font-size: .9rem;
  padding-left: 3px;
  text-align: right;
}

.arrowDown::after {
  content: "\25BC";
}

.arrowUp::after {
  content: "\25B2";
}

.sub-menu {
  position: absolute;
  left: 0;
  top: 40px;
  z-index: 50;
  
  background: #3131d2;
  border: solid #ffc519;
  border-width: 0 1px 1px 1px;
  display: none;
  list-style: none;
  padding-left: 10px;
}

  @media (min-width: 720px) {
    .sub-menu {
      top: 60px; } }
  .sub-menu__item {
    min-width: 100px;
    text-align: left; }
    .sub-menu__item a,
    .sub-menu__item span {
      text-align: left; }

.sub-menu.js-show-menu {
  display: block; }
