.search-form {
  display: grid;
  grid-template-columns: 125px 125px 20px;
  grid-gap: 10px;

  background: #3131d2;
  border-radius: 5px;
  margin: 0 auto 20px auto;
  padding: 5px 5px 10px 5px;
  width: 300px;
}

.search-form__label {
  color: #ffedb9;
}

.search-form__label select {
  background: #ffedb9;
  border: 1px solid #ffc519;
  border-radius: 5px;
  display: block;
  height: 25px;
  margin-top: 5px;
  width: 125px;
}

.search-form__btn-search {
  position: relative;
}

.search-form__btn-search span {
  position: absolute;
  bottom: 0;
  left: 0;

  height: 20px;
  width: 20px;
}

.search-form__btn-search span:hover {
  background: #a9a9dc;
}

.search-form__btn-search img:hover {
  cursor: pointer;
  background: #a9a9dc;
}

.search-form__label select:focus {
  background: #a9a9dc;
}

/* Results table */
.search-results {
  font-size: 1rem;
  margin: 0 auto 20px auto;
  width: 95%;
}

.search-results tr:nth-child(odd) {
  background: #ffedb9;
}

.search-results th {
  padding: 4px;
}

.search-results td {
  padding: 2px 3px;
}

.search-results td:first-child {
  text-align: center;
}

/***** Conjugation Hover *****/
.search-conjugation {
  position: relative;
  cursor: pointer;
}

.search-conjugation div {
  position: absolute;
  left: 50px;
  top: 0px;
  z-index: 10;

  background: #fff;
  border: 1px solid #000;
  border-radius: 5px;
  display: none;
  padding: 5px;
}

.search-conjugation:hover div {
  display: block;
}

.search-conjugation div table {
  background: #fff;
}

.search-conjugation {
  padding: 2px;
}
