.wrap {
  background-color: lightgoldenrodyellow;
  border: 0 #ccc solid;
  border-top-width: 1px;
  display: grid;
  gap: 5px;
  grid-template-rows: auto 45px;
  width: 100%;
}

.solution {
  padding-left: 10px;
  padding-right: 10px;
}

.buttons {
  padding: 0 10px;
}

@media (min-width: 720px) {
  .wrap {
    grid-template-rows: auto;
    grid-template-columns: auto 260px;
    align-items: center;

    width: 100%;
  }

  .solution {
    padding-left: 40px;
  }
}