.button {
  background-color: #3131d2;
  border: none;
  border-radius: 4px;
  color: #ededed;
  cursor: pointer;
  display: inline-block;

  flex: 0 0 130px;

  height: 55px;
  margin: 5px;
  text-align: center;
  text-decoration: none;
  width: 130px;
}

.button:hover {
  background-color: #5a5adb;
}

.spanWrap {
  display: flex;
  flex-direction: column;

  justify-content: center;

  height: 100%;
}
