.activity {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 500;

  /* background: #a9a9dc; */
  background-color: #f1f1fa;
  height: 100%;
  width: 100%;
}
  
  .wrap {  
    display: grid;
    grid-template-rows: 50px auto 145px;
    gap:10px;

    background: #f1f1fa;
    border-radius: 4px;
    height: 100%;
    padding: 0 10px;
    position: relative;
    margin: 0 auto; }

    @media (min-width: 0px) and (orientation: landscape) {
      .wrap {
        /* width: 98%; */
        /* max-width: 500px;
        min-height: 300px; */
      }
    }

    @media (min-width: 0px) and (orientation: portrait) {
      .wrap {
        /* width: 98%; */
        /* max-width: 500px;
        min-height: 460px; */
      }
    }

    @media (min-width: 720px) and (orientation: landscape) {
      .wrap {
        grid-template-rows: 70px auto 145px;
        max-width: 1120px;
        /* max-width: 600px;
        min-height: 400px; */
      }
    }

    @media (min-width: 720px) and (orientation: portrait) {
      .wrap {
        grid-template-rows: 70px auto 145px;
        max-width: 1120px;
        /* min-height: 600px;
        max-width: 500px; */
      }
    }

    @media (min-width: 940px) and (orientation: landscape) {
      .wrap {
        /* max-width: 1120px;
        min-height: 450px; */
      }
    }
   