.cardsControls {
  text-align: center;
  height: 40px;
  width: 100%;
}

.cardsCount {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  width: 140px;
  vertical-align: top;
}


.button {
  background: #3131d2;
  border: none;
  border-radius: 4px;
  color: #ffc519;
  display: inline-block;
  font-size: 28px;
  font-weight: 600;
  height: 35px;
  line-height: 35px;
  text-align: center;
  text-decoration: none;
  width: 35px;
}

.button:hover {
  color: #b4b4e0; 
  cursor: pointer;
}