.button {
  background: #ffedb9;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  height: 44px;
  margin: 0 1px;
  padding: 8px 8px;
}

@media (min-width: 720px) {
  .button {
    /* padding: 14px 10px; */
  }
}
