/* 
    File     : _words.scss
    Date     : Jan 8, 2017
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/
.words {
  background: transparent;
  border-radius: 4px;
  list-style: none;
  margin: 0 auto 20px auto;
  max-width: 580px;
  text-align: center; }
  @media (min-width: 720px) {
    .words {
      padding-top: 0; } }
  .words__heading {
    margin-bottom: 20px; }
.words__wrap {
  margin-bottom: 10px;
  min-height: 100px;
  padding: 5px 10px;
}

.words__item {
  display: inline-block;
  font-size: 0.95em;
  font-weight: 600;
  margin: 3px 2px;
  min-width: 50px;
  text-align: center;
}

.words__item button {
  background: #ffedb9;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 3px;
}

@media (min-width: 720px) {
  .words__item {
    font-size: 1.1em;
  }
}
@media (min-width: 940px) {
  .words__item {
    font-size: 1.3em;
    margin: 4px 4px;
  }
  .words__item button {
    padding: 7px 4px;
  }
}

.words__item.on button {
  background: lightblue;
}


.words__message-text {
  margin-bottom: 20px; }

.words__message.start-ani {
  opacity: 0;
  animation: show-final-msg 2s linear forwards; }

@keyframes show-final-msg {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }






/* 
    File     : _word-list.scss
    Date     : Nov 28, 2016
    Author   : Jaymes Young <jaymes@phoenixjaymes.com>
*/
.word-list {
  margin-bottom: 20px; }
  .word-list__wrap {
    background: #ffedb9;
    border-radius: 4px;
    height: 250px;
    overflow: auto;
    padding: 5px;
    margin-bottom: 20px; }
    @media (min-height: 600px) {
      .word-list__wrap {
        height: 350px; } }
    @media (min-height: 700px) {
      .word-list__wrap {
        height: 400px; } }

.word-list__table {
  border-collapse: collapse;
  width: 100%; }
  .word-list__table tr {
    text-align: left; }
  .word-list__table tr:nth-child(even) {
    background: #fff; }

.word-list__table-td-edit {
  vertical-align: middle;
  padding: 5px 1px 1px 0;
  width: 23%; }

.word-list__table-td-translation {
  padding: 3px 0 3px 3px;
  width: 77%; }




